{% extends 'base.html.twig' %}

{% block title %}{{ 'cart.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'cart.edit'|trans }}</h1>

    {{ include('cart/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cart_index') }}">back to list</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
