{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table" border="1px" cellspacing="2px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if cart is not empty %}
            {% set total = 0 %}
            {% for products in cart.cartContents %}
                {% set rowPrice = products.Quantity * products.product.price %}
            <tr>
                <td>{{ products.product.Name }}</td>
                <td>{{ products.Quantity }}</td>
                <td>{{ products.product.Price }}</td>
                <td>{{ rowPrice }}</td>

                <td>
                    <a href="{{ path('product_show', {'id': products.product.id}) }}">show</a>
                    {{ include('cart_content/_delete_form.html.twig', {'cart_content' : products}) }}
                </td>
            </tr>
                {% set total = total + rowPrice %}
            {% endfor %}
        </tbody>
    </table>
            {% if cart.Cartcontents is not empty %}
                <p>Cart price is at {{ total }} euros</p>
            <a href="{{ path('cart_purchase', {'id': cart.id}) }}">Purchase the cart</a>
                {% else %}
                    <tr>
                        <td colspan="4">no records found, cart empty</td>
                    </tr>
            </tbody>
    </table>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">No cart</td>
            </tr>
        </tbody>
    </table>
        {% endif %}


{% endblock %}
