{% extends 'base.html.twig' %}

{% block title %}{{ 'cart.show'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'cart.show'|trans }}</h1>

    <table class="table" border="1px" cellspacing="2px">
    <thead>
    <tr>
        <th>{{ 'name'|trans }}</th>
        <th>{{ 'quantity'|trans }}</th>
        <th>{{ 'price'|trans }}</th>
        <th>{{ 'total'|trans }}</th>
        <th>{{ 'cart.addedAt'|trans }}</th>
        <th>{{ 'actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if cart is not empty %}
        {% for products in cart.cartContents %}
            <tr>
                <td>{{ products.product.Name }}</td>
                <td>{{ products.Quantity }}</td>
                <td>{{ products.product.Price }}</td>
                <td>{{ products.Quantity * products.product.price }}</td>
                <td> {{ products.AddedAt ? products.AddedAt|date('Y-m-d H:i:s') : 'No add date found' }} </td>

                <td>
                    <a href="{{ path('product_show', {'id': products.product.id}) }}">{{ 'show'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <p> {{ 'purchasedAt'|trans}} {{ cart.purchasedAt ? cart.purchasedAt|date('Y-m-d H:i:s') : 'Not purchased yet' }} </p>


        {% if cart.Cartcontents is empty %}
            <tr>
                <td colspan="4">{{ 'cart.empty'|trans }}</td>
            </tr>
            </tbody>
            </table>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="4">{{ 'cart.empty'|trans }}</td>
        </tr>
        </tbody>
        </table>
    {% endif %}
{% endblock %}
