{% extends 'base.html.twig' %}

{% block title %}{{ 'superAdmin'|trans }}{% endblock %}

{% block body %}

    <h2>{{ 'users'|trans }}</h2>
    <ul>
    {% for user in users %}
        <li>{{ user.Email }}</li>
    {% endfor %}
    </ul>
    <hr/>

    <h2>{{ 'unpaidCart'|trans }}</h2>

    <table border="1px">
        <thead>
        <tr>
            <th>{{ 'owner'|trans }}</th>
            <th>{{ 'id'|trans }}</th>
            <th>{{ 'content'|trans }}</th>
        </tr>
        </thead>

    {% for cart in unpaidCarts %}
        <tbody>
        <tr>
            <td>{{ cart.User.Email }}</td>
            <td>{{ cart.id }}</td>
            <td>
                {%  for products in cart.cartContents %}
                    {{ products.product.Name }} : x{{ products.Quantity }}<br>
                    {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
