{% extends 'base.html.twig' %}

{% block title %}{{ 'register'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'register'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.FirstName) }}
        {{ form_row(registrationForm.LastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.Picture) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">{{ 'register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
