{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.Name }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Price }} euros</td>
                <td>{{ product.Stock }}</td>
                <td><img src="{{ asset('/uploads/'~product.picture) }}" alt="" width="124px"></td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <h2>Add a new Product</h2>
        {{ include('product/_form.html.twig') }}

    {% endif %}
{% endblock %}
