{% extends 'base.html.twig' %}

{% block title %}{{ 'Product.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Product.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'price'|trans }}</th>
                <th>{{ 'stock'|trans }}</th>
                <th>{{ 'picture'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.Name }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Price }} euros</td>
                <td>{{ product.Stock }}</td>
                <td><img src="{{ asset('/uploads/'~product.picture) }}" alt="" width="124px"></td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'Product.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <hr/>
        <h2>{{ 'Product.add'|trans }}</h2>
        {{ include('product/_form.html.twig', {'button_label': 'Create'}) }}

    {% endif %}
{% endblock %}
