{% extends 'base.html.twig' %}

{% block title %}{{ 'product'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product'|trans }}</h1>

    <table class="table" border="1px">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ product.Name }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans }}</th>
                <td>{{ product.Description }}</td>
            </tr>
            <tr>
                <th>{{ 'price'|trans }}</th>
                <td>{{ product.Price }}</td>
            </tr>
            <tr>
                <th>{{ 'stock'|trans }}</th>
                <td>{{ product.Stock }}</td>
            </tr>
            <tr>
                <th>{{ 'picture'|trans }}</th>
                <td><img src="{{ asset('/uploads/'~product.picture) }}" alt="" width="124px"></td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <h2>{{ 'cart.add'|trans }}</h2>
        {{ include('product/_form.html.twig',{'button_label': 'Product.add'|trans}) }}
    {% endif %}
    <hr/>
    {% if is_granted('ROLE_ADMIN') %}
        <h2>{{ 'admin'|trans }}</h2>
        <a href="{{ path('product_edit', {'id': product.id}) }}"><button>{{ 'edit'|trans }}</button></a>
        {{ include('product/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
