<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <p class="alert alert-{{ type }}">{{ type }} : {{ message }}</p>
            {% endfor %}
        {% endfor %}
         | <a href="{{ path('product_index') }}">HomePage</a> |
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('cart_index') }}">Cart</a> |
            <a href="{{ path('user_account', {'id' : app.user.id}) }}">Account</a> |
            <a href="{{ path('app_logout') }}">Logout</a> |
            {% else %}
                <p>| You are not logged in | </p>
                <a href="{{ path('app_login') }}">Login</a> |
                <a href="{{ path('app_register') }}">Register</a> |
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <p> You're admin</p>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('super_admin') }}">Super Admin page</a>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
