<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <p class="alert alert-{{ type }}">{{ type }} : {{ message }}</p>
            {% endfor %}
        {% endfor %}
        <a href="{{ path('product_index') }}">HomePage</a> |
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('cart_index') }}">Cart</a> |
            <a href="{{ path('user_account', {'id' : app.user.id}) }}">Account</a> |
            {% else %}
                <a href="{{ path('app_login') }}">Login</a> |
                <a href="{{ path('app_register') }}">Register</a> |


        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
